/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset */
body, ul, ol, h1, h2, h3, h4, p, form, a {
  margin: 0;
  padding: 0;
}

/* Column */
.col {
  margin: 0 12px;
}

.col-3 {
  width: calc(25% - 24px);
}

.col-4 {
  width: calc(100% / 3 - 24px);
}

.col-5 {
  width: calc(100% * 5 / 12 - 24px);
}

.col-6 {
  width: calc(50% - 24px);
}

.col-8 {
  width: calc(100% * 2 / 3 - 24px);
}

.col-10 {
  width: calc(100% * 5 / 6 - 24px);
}

/* Counter */
body {
  counter-reset: procedure-counter;
}

/* Global container */
.container {
  /* Container Width + Gutter */
  width: 1344px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
#navbar {
  padding: 62px 0;
  position: absolute;
  width: 100%;
}

#navbar .container {
  justify-content: space-between;
}

#navbar .container .logo {
  padding: 0 12px;
  height: 60px;
}

#navbar .container .logo img {
  height: 60px;
  width: auto;
}

#navbar .container .menu {
  padding: 0 12px;
}

#navbar .container .menu ul {
  list-style: none;
}

#navbar .container .menu ul::after {
  content: '';
  clear: both;
  display: block;
}

#navbar .container .menu ul li {
  float: left;
  margin: 0 24px;
}

#navbar .container .menu ul li a {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
}

#navbar .container .menu ul li a.active {
  font-weight: bold;
}

#navbar .container .button {
  padding: 0 12px;
}

#navbar .container .button a,
#app .container .card .col a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 24px;
  background: #FFFFFF;
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #293241;
  border-radius: 15px;
  text-decoration: none;
}

/* Hero */
#hero {
  background-color: #0D1728;
  height: 1276px;

  background-image: url(../images/background-hero.png);
  background-position: -295px -449px;
  margin-bottom: 298px;
}

#hero .container .content {
  padding: 0 12px;
  margin-top: 191px;
}

#hero .container .content p {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 28px;
}

#hero .container .content h1 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 138%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 32px;
}

#hero .container .content .getting-started {
  border: 1px solid #FFF;
  margin: 0 auto;
  margin-bottom: 70px;
  border-radius: 1000px;
  width: calc(50% - 28px);
}

#hero .container .content .getting-started form {
  display: flex;
  width: 100%;
}

#hero .container .content .getting-started input {
  padding: 32px 48px;
  background: transparent;
  border: none;
  flex-grow: 1;
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #FFFFFF;
}

#hero .container .content .getting-started input:focus {
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

#hero .container .content .getting-started input::placeholder {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #FFFFFF;
}

#hero .container .content .getting-started button {
  background: #FFF;
  padding: 30px 38px;
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: #293241;
  border-radius: 1000px;
  border: none;
}

/* Customer */
#customer .container h2 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #293241;
  margin: 150px auto 70px auto;
}

#customer .container .card {
  text-align: center;
  margin: 0 12px;
}

#customer .container .card .star-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}

#customer .container .card .item p {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #293241;
  margin-bottom: 24px;
}

/* Procedure */
#procedure {
  margin-top: 150px;
  /* background-image: url(../images/line.png);
  background-repeat: no-repeat;
  background-position: -341px 409px; */
  overflow-x: hidden;
}

#procedure .container {
  flex-direction: column;
}

#procedure .container h2 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #293241;
  margin-bottom: 70px;
}

#procedure .container p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #7F848D;
  margin-bottom: 111px;
}

#procedure .container .procedure {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 241px;
}

#procedure .container .procedure img {
  position: absolute;
  top: -35px;
  left:-514px;
}

#procedure .container .procedure .col-3 {
  /* margin: 0 12px; */
  background-color: #1E2746;
  border-radius: 18px;
  padding: 24px;
  background-image: url(../images/procedure-pattern.png);
  background-repeat: no-repeat;
  width: calc(25% - 72px);
  /* margin-bottom: 24px; */
}

#procedure .container .procedure .col-3 h3 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  counter-increment: procedure-counter;
  margin: 0 0 16px 28px;
  position: relative;
}

#procedure .container .procedure .col-3 h3::before {
  position: absolute;
  content: counter(procedure-counter) ". ";
  top: 0;
  left: -22px;
}

#procedure .container .procedure .col-3 p {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #D4D6D9;
  margin: 0;
}

/* Tool */
#tool {
  margin-bottom: 192px;
}

#tool .container {
  justify-content: space-between;
}

#tool .container .col {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#tool .container .col img:nth-child(2) {
  margin-left: 48px;
}

#tool .container .col h2 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #293241;
}

#tool .container .col p {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #7F848D;
}

#analytise {
  padding: 150px 0;
  background: #293241;
}

#analytise .container .col > span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #293241;
  background: #EDCB50;
  border-radius: 8px;
  padding: 6px 16px;
}

#analytise .container .col h2 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
  margin-top: 24px;
  margin-bottom: 32px;
}

/* Analytise list with unordered list */
/* #analytise .container .col ul {
  list-style-image: url(../images/Archery.svg);
  list-style-position: inside;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#analytise .container .col ul li {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #D4D6D9;
  margin-bottom: 16px;
  height: 32px;
} */

/* Analytise list with pseudo element */
#analytise .container .col .list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#analytise .container .col .list span {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #D4D6D9;
  position: relative;
  height: 32px;
  margin-left: 48px;
}

#analytise .container .col .list span::before {
  content: url(../images/Archery.svg);
  margin-right: 16px;
  position: absolute;
  top: -10px;
  left: -48px;
}

/* Analytise with image */
/* #analytise .container .col .list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#analytise .container .col .list .list-item {
  display: flex;
  grid-area: 16px;
  height: 32px;
  align-items: center;
  gap: 16px;
}

#analytise .container .col .list .list-item span {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #D4D6D9;
} */

/* Pricing */
#pricing {
  background: #F0F9FF;
  padding: 150px 0;
}

#pricing .container:nth-child(1) {
  flex-direction: column;
}

#pricing .container:nth-child(1) h2 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #293241;
  margin-bottom: 32px;
}

#pricing .container:nth-child(1) p {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #7F848D;
  margin-bottom: 74px;
}

#pricing .container:nth-child(2) .card {
  padding: 32px;
  background: #FFFFFF;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
}

#pricing .container:nth-child(2) .card.recommended {
  background-image: url(../images/procedure-pattern.png);
  background-repeat: no-repeat;
}

#pricing .container:nth-child(2) .card.recommended .header {
  position: relative;
}

#pricing .container:nth-child(2) .card.recommended .header .details h3::after {
  content: 'Recommended';
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 6px 16px;
  background-color: #1681FE;
  border-radius: 8px;
  color: #FFFFFF;
}

#pricing .container:nth-child(2) .card .header {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

#pricing .container:nth-child(2) .card .header {
  border-bottom: 1px solid #EAEBEC;;
  padding-bottom: 32px;
  margin-bottom: 50px;
}

#pricing .container:nth-child(2) .card.starter .header .details h3,
#pricing .container:nth-child(2) .card.starter a {
  color: #EDCB50;
}

#pricing .container:nth-child(2) .card.bussiness .header .details h3,
#pricing .container:nth-child(2) .card.bussiness a {
  color: #1681FE;
}

#pricing .container:nth-child(2) .card.premium .header .details h3,
#pricing .container:nth-child(2) .card.premium a {
  color: #448C74;
}

#pricing .container:nth-child(2) .card.starter:hover {
  border: 1px solid #EDCB50;
}
#pricing .container:nth-child(2) .card.bussiness:hover {
  border: 1px solid #1681FE;
}
#pricing .container:nth-child(2) .card.premium:hover {
  border: 1px solid #448C74;
}

#pricing .container:nth-child(2) .card .header .details h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

#pricing .container:nth-child(2) .card .header .details .price {
  display: flex;
  align-items: flex-end;
}

#pricing .container:nth-child(2) .card .header .details .price h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
  color: #293241;
}

#pricing .container:nth-child(2) .card .header .details .price h4 span {
  font-size: 42px;
}

#pricing .container:nth-child(2) .card .header .details .price p {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545B67;
  margin-left: 8px;
  margin-bottom: 8px;
}

#pricing .container:nth-child(2) .card .content .list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

#pricing .container:nth-child(2) .card .content .list .list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

#pricing .container:nth-child(2) .card .content .list .list-item span {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #293241;
}

#pricing .container:nth-child(2) .card a {
  padding: 14px 24px;
  background-color: #FFF;
  border-radius: 12px;
  text-decoration: none;
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 17px;
}

#pricing .container:nth-child(2) .card.starter a {
  border: 1px solid #EDCB50;
}

#pricing .container:nth-child(2) .card.bussiness a {
  border: 1px solid #1681FE;
}

#pricing .container:nth-child(2) .card.premium a {
  border: 1px solid #448C74;
}

/* Testimonial */
#testimonial {
  padding: 150px 0;
}

#testimonial .container:nth-child(1) {
  flex-direction: column;
}

#testimonial .container:nth-child(1) h2 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #293241;
  margin-bottom: 32px;
}

#testimonial .container:nth-child(1) p {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #7F848D;
  margin-bottom: 32px;
}

#testimonial .container:nth-child(2) {
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

#testimonial .container:nth-child(2) button {
  border: none;
}

#testimonial .container:nth-child(2) .previous,
#testimonial .container:nth-child(2) .next {
  position: absolute;
  top: 50%;
  padding: 10px;
  transform: translate(-50% -50%);
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

#testimonial .container:nth-child(2) .previous {
  left: 12px;
  background: rgba(22, 129, 254, 0.1);
}

#testimonial .container:nth-child(2) .next {
  right: 12px;
  transform: translate(-50% -50%);
  background: #1C51FD;
  color: #FFFFFF;
}

#testimonial .container:nth-child(2) .card {
  background: #F0F9FF;
  border-radius: 18px;
  padding: 32px;
  align-items: center;
  display: flex;
  gap: 36px;
  width: calc(100% * 5 / 6 - 40px);
}

#testimonial .container:nth-child(2) .card .info h3 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  color: #212834;
  margin-bottom: 20px;
}

#testimonial .container:nth-child(2) .card .info h4 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #7F848D;
  margin-bottom: 20px;
}

#testimonial .container:nth-child(2) .card .info .line {
  width: 190px;
  border-top: 1px solid #D4D6D9;;
  margin-bottom: 24px;
}

#testimonial .container:nth-child(2) .card .info p {
  font-family: 'Anybody';
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #293241;
  margin-bottom: 16px;
}

#testimonial .container:nth-child(2) .page {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

#testimonial .container:nth-child(2) .page .dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #EAEBEC;
}

#testimonial .container:nth-child(2) .page .dot.active {
  background: #1C51FD;
}

/* App */
#app {
  margin-bottom: 294px;
}

#app .container .card {
  background: #293241;
  border-radius: 40px;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 64px 0 0 60px;
  justify-content: space-between;
  margin: 0 12px;
}

#app .container .card .col-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app .container .card .col h2 {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

#app .container .card .col p {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #EAEBEC;
  margin-bottom: 32px;
  vertical-align: middle;
}

#app .container .card .col a {
  width: max-content;
}

#app .container .card .col a::after {
  content: url(../images/icons/right-arrow.svg);
  height: 24px;
}

#app .container .card .col img {
  margin-left: -40px;
  margin-bottom: -6px;
}

/* Footer */
#footer {
  border-top: 1px solid #EAEBEC;
}

#footer .container {
  justify-content: space-between;
}

#footer .container footer {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer .container footer .about img {
  margin-bottom: 16px;
}

#footer .container footer .about p {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #7F848D;
  margin-bottom: 24px;
}

#footer .container footer .about .copyright {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #293241;
}

#footer .container footer .links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#footer .container footer .links a {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px; 
  color: #7F848D;
  text-decoration: none;
}

#footer .container footer .social p {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 18px;
  color: #293241;
}

#footer .container footer .social .social-icons {
  display: flex;
  gap: 16px;
}

#footer .container footer .social .social-icons a {
  padding: 12px;
  background: #EAEBEC;
  border-radius: 8px;
}
